.nav-main ul{
    display: flex;
    color:gray;
}
.nav-main li{
    margin-right: .5em;
}
.nav-main li:last-child{
    margin-right: 0em;
}
.nav-main a:hover{
    text-decoration: underline;
}
.nav-main a{
    color:black
}
.separator{
    color:black
}